.wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url('../../assets/images/common/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}