.ListCatsProductsItem {
    position: relative;
    width: 320px;
    height: 480px;
    margin: 40px;
    background: linear-gradient(135deg, transparent 25px, #F2F2F2 0) top left,
        linear-gradient(-135deg, transparent 7px, #F2F2F2 0) top right,
        linear-gradient(-45deg, transparent 7px, #F2F2F2 0) bottom right,
        linear-gradient(45deg, transparent 7px, #F2F2F2 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;

    &__before,
    &__after {
        content: '';
        display: inline-block;
        position: absolute;
        z-index: 1;
    }

    &__before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: calc(100% - 35px);
        border-left: 4px solid #1698D9;
        border-bottom: 4px solid #1698D9;
        border-radius: 0 12px 12px 12px;
    }

    &__after {
        right: 0;
        top: 0;
        width: calc(100% - 35px);
        height: calc(100%);
        border-radius: 0 12px 12px 0px;
        border-top: 4px solid #1698D9;
        border-right: 4px solid #1698D9;
    }

    &__beforeSelected {
        border-left: 4px solid #D91667;
        border-bottom: 4px solid #D91667;
    }

    &__afterSelected {
        border-top: 4px solid #D91667;
        border-right: 4px solid #D91667;
    }

    &__leftCorner {
        position: absolute;
        left: 10px;
        top: 10px;
        width: 51px;
        height: 51px;
        border-left: 4px solid #1698D9;
        transform: rotate(45deg);
        z-index: 1;
    }

    &__leftCornerSelected {
        border-left: 4px solid #D91667;
    }

    &__package {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 21px 60px 16px 42px;
        border: 4px solid #1698D9;
        border-left: none;
        border-top: none;
        border-radius: 12px 12px 12px 12px;
        overflow: hidden;
        background: linear-gradient(135deg, transparent 25px, #F2F2F2 0) top left,
            linear-gradient(-135deg, transparent 0, #F2F2F2 0) top right,
            linear-gradient(-45deg, transparent 0, #F2F2F2 0) bottom right,
            linear-gradient(45deg, transparent 0, #F2F2F2 0) bottom left;
        background-size: 50% 50%;
        background-repeat: no-repeat;
    }

    &__coverPackage {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    &__packageSelected {
        border-bottom: 4px solid #D91667;
        border-right: 4px solid #D91667;
        transition: .2s;
    }

    &__packageSelected:hover>&__titleDefault {
        display: none;
    }

    &__packageSelected:hover>&__titleSelected {
        display: block;
    }

    &__title {
        font-family: 'Trebuchet MS';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #666;
    }

    &__titleSelected {
        display: none;
        color: #E62E7A;
    }

    &__subTitle {
        margin-top: 5px;
        max-width: 211px;
        font-family: 'Trebuchet MS';
    }

    &__subTitleNyamushka {
        display: block;
        font-family: 'Trebuchet MS';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 51px;
        color: #000;

    }

    &__numberServings {
        width: 106px;
        margin-top: 15px;
        font-family: 'Trebuchet MS';
        font-size: 14px;
        line-height: 17px;
        color: #666;
    }

    &:nth-child(2) &__package {
        p {
            width: 119px;
        }
    }

    &:nth-child(3) &__package {
        p {
            width: 127px;
        }
    }

    &__countKilogram {
        position: absolute;
        bottom: 16px;
        right: 16px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80px;
        height: 80px;
        background-color: #1698D9;
        border-radius: 50%;
        font-family: 'Trebuchet MS';
        font-weight: 400;
        font-size: 21px;
        color: #FFF;
    }

    &__countKilogramSelected {
        background-color: #D91667;
    }

    &__kilogram {
        font-family: 'Trebuchet MS';
        font-weight: 400;
        font-size: 42px;
        line-height: 35px;
        text-align: center;
        color: #FFF;
    }

    &__text {
        line-height: 20px;
    }

    &__cat {
        position: absolute;
        bottom: 0;
        left: -35px;
        transform: translate(0px, 97px);
    }

    &__signature {
        margin-top: 14px;
        font-family: 'Trebuchet MS';
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #FFF;
    }

    &__signatureDisabled {
        color: #FFFF66;
    }

    &__buy {
        color: #1698D9;
        cursor: pointer;
    }

    &__buyText {
        border-bottom: dashed 1px;
    }
}