@font-face {
    font-family: 'exo2_0';
    src: url('../fonts/exo2_0.woff2') format('woff2'),
        url('../fonts/exo2_0.woff') format('woff');
}

@font-face {
    font-family: 'trebuchetms';
    src: url('../fonts/trebuchetms.woff2') format('woff2'),
        url('../fonts/trebuchetms.woff') format('woff');
}